<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/css/clean-blog.min.css" rel="stylesheet">


    <title>Robo Resume - All Users</title>

</head>


<body>





    <nav th:replace="base :: navbar"></nav>

    <header th:replace="base :: header"></header>







    <!--<div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block">List All Users</div>-->

    <!--<hr>-->



    <div class="container">

        <!--<div class="bg-faded p-4 my-4">-->
            <!--<hr class="divider">-->
            <h2 class="text-center text-lg text-uppercase my-0"><strong>Here is the List of All Users With Resumes</strong></h2>
            <hr class="divider">

            <div class="container" style="text-align: center">
                <!--<table border="1" cellpadding="5">-->
                <table class="table table-striped">
                    <tr>
                        <td><b>ID</b></td>
                        <td><b>First Name</b></td>
                        <td><b>Lats Name</b></td>
                        <td><b>Update Resume</b></td>
                        <td><b>Delete Resume</p></b></td>
                    </tr>

                    <!--iterate through all the persons-->
                    <th:block th:each="all:${allpersons}">
                        <tr>
                            <td><a th:text="${all.id}"></a></td>
                            <td><a th:text="${all.firstName}"></a></td>
                            <td><a th:text="${all.lastName}"></a></td>
                            <td>

                                <a th:href="@{/displayPersonAllInfo/{id}(id=${all.id})}">See Resume for this Person</a>
                            </td>
                            <td>
                                <a th:href="@{/deletePerson/{id}(id=${all.id})}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                </table>
                <hr class="divider">
                <br><br>
                <a class="btn btn-primary" href="/" role="button" style="width:270px">Link to the Home Page</a><br><br>
                <a class="btn btn-info" href="/enterPerson" style="width:270px">Create New Resume</a>
            </div>

        <!--</div>-->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <div th:replace="base :: footer"></div>


    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/clean-blog.min.js"></script>


</body>
</html>